hi {
color:red;
}
.f1{
  color: tomato;
  margin-top: 18pt;
  margin-botton: 12pt;
  font-size: 20px;
  font-weight: bold; 
  font-family: Arial;
}
.f1{
  color: purple;
  margin-top: 10pt;
  margin-botton: 6pt;
  font-size: 15px;
  font-style: normal; 
  font-family: Arial;
}
